/* Header start */
.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    align-items: center;
}

.header__logo-img{
    height: 50px;
}

.header__nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
}

.header__nav-item{
    position: relative;
}

.header__nav-item--active .header__nav-item-link,
.header__nav-item--active{
    color: var(--primary-color);
}

.header__nav-item--active::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    width: 30px;
    border: 1px solid var(--primary-color);

}

.header__nav-item-link{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.header__nav-item-link:hover{
    color: var(--primary-color);
}



.header__nav-item-icon{
    font-size: 1.4rem;
    position: absolute;
    top: 8px;
    right: 8px;
}


.header__nav-dropdown-menu{
    position: absolute;
    width: 180px;
    list-style: none;
    top: calc(var(--header-height) - 24px);
    left: 0;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    animation: fadeUp linear 0.4s;
    transition: all 300ms;
    display: none;
}

.header__nav-dropdown-menu::after{
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 90px;
    height: 30px;
}

.header__nav-dropdown-menu-item{
    padding: 8px 4px;
    font-weight: 300;
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
}

.header__nav-dropdown-menu-item:hover{
    color: var(--primary-color);
}

#home:hover .header__nav-dropdown-menu,
#pages:hover .header__nav-dropdown-menu,
#gallery:hover .header__nav-dropdown-menu{
    display: block;
}

/* Header end */

/* Slider */
.slider{
    display: flex;

}

.slider-1{
    background: url(../img/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0; 
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-2{
    background: url(../img/slide2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0; 
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-3{
    background: url(../img/slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0; 
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__title{
    font-size: 6rem;
    font-weight: 800;
    line-height: 6.5rem;
    text-align: center;
    color: var(--white-color);
    white-space: nowrap;
    transition: all 0s ease 0s;
    margin: 0;
    padding: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);
}

.slider__content{
    font-size: 2rem;
    font-weight: 500;
    line-height: 4rem;
    color: var(--white-color);
    text-align: center;
    margin: 80px 0 60px;
}

.slider__btn{
    display: flex;
    justify-content: center;
}

.slider__btn-link{ 
    padding: 15px 30px;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: color 400ms, background-color 400ms;
    border-radius: 3px;
}

.slider__btn-link:hover{
    background-color: var(--purple-color);
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border: none;
    z-index: 2;
    padding: 40px 10px;
    font-size: 2.5rem;
    cursor: pointer;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-dots{
    display: none !important;
}
/* Container start */
/* Form input start */
.container-form__input{
    background: url(../img/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: scroll;
    padding: 70px 0 20px 0;
}

.container-from__name{
    margin: 10px 0;
    font-size: 1.6rem;
    color: var(--text-color);
}

.container-form__input-text,
.container-form__select,
.container-form__form{
    height: 115px;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: 5px;
}

.container-form__input-text:focus-visible,
.container-form__select:focus-visible,
.container-form__form:focus-visible{
    border: 1px solid var(--primary-color);
}

.container-form__select{
    height: 45px;
    color: var(--text-color);
    font-size: 1.6rem;
}

.container-form__select-item{
    font-size: 1.6rem;
    color: var(--text-color);
}

.container-from__rage{
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    margin: 11px 0;
    background-color: var(--white-color);
    outline: none;
    border: 1px solid #ddd;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
}

.container-from__rage::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: var(--purple-color);
    cursor: pointer;
}

.container-form__form{
    height: 45px;
}

.container-form__btn{
    margin-top: 30px;
}

.container-form__btn-search{
    padding: 14px 50px;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    transition: color 400ms, background-color 400ms;
    outline: 0;
}

.container-form__btn-search:hover{
    background-color: var(--purple-color);

}
/* Form input end */

/* Newest Properties start */
.newest-properties{
    padding: 95px 0;
}

.newest-properties__title{
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4rem;
    font-weight: 600;
}

.newest-properties__item{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid #DFE6EE;
    border-radius: 5px;
}

.newest-properties-img{
    width: 100%;
}

.newest-properties__item:hover{
    border-color: #fff;
    box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 18%);
}

.newest-properties__house{
    padding: 25px;
    background-color: transparent;
}

.newest-properties__name{
    color: var(--text-color);
    font-size: 2.2rem;
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    line-height: 30px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.newest-properties__name:hover{
    color: var(--primary-color);
}

.newest-properties__tag,
.newest-properties__desc,
.newest-properties__feature{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 12px 0;
    color: var(--text-color);
}

.newest-properties__tag i,
.newest-properties__feature i{
    color: var(--primary-color);
    transition: color 400ms, background-color 400ms;
}

.newest-properties__desc{
    line-height: 2.8rem;
}

.newest-properties__feature i{
    margin-right: 4px;
}
/* Newest Properties end */

/* Contact */
.contact{
    background: url(../img/bg2.jpg);
    padding: 100px 25px 62px 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__img{
    text-align: center;
}

.contact__name{
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: 14px;
}

.contact__desc{
    text-align: center;
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: 2.7rem;
}

.contact__btn {
    text-align: center;
}

.contact__btn a{
    font-size: 1.5em;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    box-shadow: none;
    padding: 8px 12px;
    display: block;
    font-weight: 500;
}

.contact__btn a:hover{
    color: var(--text-color);
}

/* Contact end */

/* Popular Place */
.popular-place{
    padding: 80px 0;
}

.popular-place__item{
    position: relative;
}

.popular-place__item-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(133deg, #7f6ffc 0%, #00ccad 100%);
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    z-index: 1;
}

.popular-place__item:hover .popular-place__item-modal{
    opacity: 0.8;
}

.popular-place__title{
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;;
    line-height: 4rem;
    font-weight: 600;
}

.popular-place__img{
    overflow: hidden;
    border-radius: 5px;
}

.popular-place__img img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all linear 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.popular-place__item:hover .popular-place__img img{
    transform: scale(1.15);
}

.popular-place__btn{
    padding: 15px 15px;
    font-size: 1.4rem;
    display: inline-block;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #DFE6EE;
    position: absolute;
    top: 50%;
    left: 10%;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
    -webkit-transition: all .4s;
}

.popular-place__btn:hover{
    background: #333;
    border-color: #333;
}

.popular-place__haed{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    top: 70%;
    left: 10%;
}

.popular-place__text{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 10%;

}

.popular-place__btn,
.popular-place__haed,
.popular-place__text{
    color: var(--white-color);
    z-index: 2;
}

.popular-place__haed,
.popular-place__text{
    opacity: 0;
    -webkit-transform: translate3d(0,15px,0);
    transform: translate3d(0,15px,0);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.popular-place__item:hover .popular-place__btn{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.popular-place__item:hover .popular-place__haed,
.popular-place__item:hover .popular-place__text{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* Popular Place end */

/* Container video */
.container-video{
    background: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll;
    padding: 90px 0px;
    margin: 0px 50px;
    box-shadow: 0 0 0 0 #fff;
}

.container-video__title{
    font-size: 3rem;
    color: var(--white-color);
    text-transform: capitalize;
    text-align: center;
    line-height: 4.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.container-video__btn{
    margin-bottom: 20px;
}

.container-video__btn-wrap{
    padding: 50px;
    text-align: center;
}

.container-video__btn-center{
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
}

.container-video__btn-icon{
    color: var(--white-color);
    padding: 24px 28px;
    border-radius: 100%;
    font-size: 3.5rem;
    border: 5px solid var(--purple-color);
}

.container-video__btn-center:hover{
    background-color: var(--primary-color);
}

.container-video__desc{
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}
/* End */

/* Featured properties */
.featured-properties{
    padding: 95px 0 35px 0;
}

.featured-properties__title{
    font-size: 3.2rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 4rem;
}

.featured-properties__item{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid #DFE6EE;
    border-radius: 5px;
    margin: 20px 0;
}

.featured-properties__item:hover{
    border-color: #fff;
    box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 18%);
}

.featured-properties__item-wrap{
    padding: 25px;
    background-color: transparent;
}

.featured-properties__item-name{
    color: var(--text-color);
    font-size: 2.2rem;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    width: auto;
    height: auto;
    line-height: 30px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featured-properties__item-name:hover{
    color: var(--primary-color);
}

.featured-properties__item-desc,
.featured-properties__utiliti{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 12px 0;
    color: var(--text-color);
}

.featured-properties__utiliti i{
    color: var(--primary-color);
    transition: color 400ms, background-color 400ms;
}

.featured-properties__item-desc{
    line-height: 2.8rem;
}

.featured-properties__utiliti i{
    margin-right: 4px;
}
/* End */

/* Container Description */

.container-description{
    background-color: var(--primary-color);
    padding: 70px 0;
}

.container-description__title{
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.container-description__btn{
    color: var(--text-color);
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 5px;
    background-color: var(--white-color);
    font-size: 1.5rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
}

.container-description__btn:hover{
    background-color: #252525;
    color: var(--white-color);
}
/* End */

/* Latest Post */
.latest-post{
    padding: 90px 0 60px 0;
}

.latest-post__title{
    font-size: 3.2rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 4rem;
}

.latest-post__item{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid #DFE6EE;
    border-radius: 5px;
    margin: 20px 0;
}

.featured-properties__img{
    width: 100%;
}

.latest-post__item:hover{
    border-color: #fff;
    box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 18%);
}

.latest-post__item-wrap{
    padding: 25px;
    background-color: transparent;
}

.latest-post__item-name{
    color: var(--text-color);
    font-size: 2.2rem;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    width: auto;
    height: auto;
    line-height: 30px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.latest-post__item-date{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--primary-color);
    margin: 5px;
}

.image-slider{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center; */
    display: flex;
    justify-content: center;
}

.imgae{
    height: 300px;
    
}

.imgae img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.image-img{
    margin: 0 auto;
}

/* End */

/* Footer */
.footer{
    background: url(../img/fbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 100%;
    padding: 60px 0 0px;
    position: relative;
}

.footer-btn__link{
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    right: 2%;
    bottom: 6%;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    display: block;
}

.footer-btn__link:hover{
    background-color: var(--purple-color);
}

.footer__logo{
    margin-bottom: 15px;
}

.footer__desc{
    font-size: 1.4rem;
    color: #acacac;
    line-height: 2.4rem;
    margin-bottom: 4px;
}

.footer__social{
    font-size: 1.4rem;
    color: #acacac;
    line-height: 2.4rem;
    margin-bottom: 4px;
}

.footer__title{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 30px;
}

.footer__list{
    list-style: none;
}

.footer__link{
    display: block;
    color: #acacac;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 16px 0 8px 0;
}

.footer__item:hover .footer__link{
    color: var(--white-color);
}

.footer__item span{
    font-size: 1.2rem;
    color: #acacac;
}

.footer__link i{
    color: var(--white-color);
    margin-right: 8px;
}

.footer__item:hover .footer__link i{
    color: var(--primary-color);
}

.footer__photo-gallery{
    max-width: 180px;
    height: 100%;
    margin: 6px;
    cursor: zoom-in;
    position: relative;
    display: block;
}

.footer__photo-gallery img{
    width: 78px;
    height: 78px;
    display: block;
    vertical-align: middle;
}

.footer__author{
    margin-top: 40px;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__author span{
    font-size: 1.4rem;
    color: #acacac;
}

.footer__author em{
    color: #acacac;
    font-size: 1.4rem;
}

.footer__author a{
    color: #acacac;
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;
}

.footer__author a:hover{
    color: var(--white-color);
}
/* End */

/* Header mobile - tablet start */
.nav__bar-btn{
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: calc(var(--header-height) - 56px);
    display: none;
}

.nav__overplay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}

.nav__mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    opacity: 0;
    transform: translateX(100%);
    transition: all linear 0.3s;
}

.nav__mobile-list{
    margin: 60px 0 0 10px;
    list-style: none;
}   

.nav__mobile-link{
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    line-height: 1.8rem;
}

.nav__mobile-link-icon{
    color: var(--primary-color);
}

.nav__mobile-close{
    font-size: 3rem;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav__input:checked ~ .nav__overplay{
    display: block;
}

.nav__input:checked ~ .nav__mobile{
    transform: translateX(0%);
    opacity: 1;
}

.nav__mobile-dropdown-list{
    display: none;
    animation: fadeIn linear 0.3s;
    padding-left: 10px;
    margin-top: 1px;
}

.nav__mobile-dropdown-item{
    background-color: #00ccad;
    display: block;
    padding: 14px 10px;
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: var(--white-color);
}

.show{display: block;}
